USE [master]
GO
CREATE DATABASE [bdolimpiadas] ON  PRIMARY 
( NAME = N'bdolimpiadas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\bdolimpiadas.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'bdolimpiadas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\bdolimpiadas_log.ldf' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bdolimpiadas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bdolimpiadas]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [paises](
	[id] [int] NOT NULL,
	[iso] [char](2) NULL,
	[nombre] [varchar](80) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblpaises](
	[idpais] [tinyint] IDENTITY(1,1) NOT NULL,
	[nombrepais] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idpais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblparticipantes](
	[numerodocumento] [bigint] NOT NULL,
	[nombreparticipante] [varchar](50) NOT NULL,
	[idpais] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[numerodocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblposiciones](
	[idposicion] [tinyint] IDENTITY(1,1) NOT NULL,
	[nombreposicion] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idposicion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblresultados](
	[numerodocumento] [bigint] NOT NULL,
	[nombreparticipante] [varchar](50) NOT NULL,
	[idposicion] [tinyint] NOT NULL,
	[idpais] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[numerodocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [paises] ([id], [iso], [nombre]) VALUES (1, N'AF', N'Afganistán')
INSERT [paises] ([id], [iso], [nombre]) VALUES (2, N'AX', N'Islas Gland')
INSERT [paises] ([id], [iso], [nombre]) VALUES (3, N'AL', N'Albania')
GO
SET IDENTITY_INSERT [tblpaises] ON 

INSERT [tblpaises] ([idpais], [nombrepais]) VALUES (1, N'COLOMBIA')
INSERT [tblpaises] ([idpais], [nombrepais]) VALUES (2, N'BRASIL')
INSERT [tblpaises] ([idpais], [nombrepais]) VALUES (3, N'VENEZUELA')
SET IDENTITY_INSERT [tblpaises] OFF
INSERT [tblparticipantes] ([numerodocumento], [nombreparticipante], [idpais]) VALUES (5454545, N'Prueba3', 6)
INSERT [tblparticipantes] ([numerodocumento], [nombreparticipante], [idpais]) VALUES (21312313, N'Yhonatan', 2)
INSERT [tblparticipantes] ([numerodocumento], [nombreparticipante], [idpais]) VALUES (132456789, N'Kiko', 1)
SET IDENTITY_INSERT [tblposiciones] ON 

INSERT [tblposiciones] ([idposicion], [nombreposicion]) VALUES (1, N'Primera posición')
INSERT [tblposiciones] ([idposicion], [nombreposicion]) VALUES (2, N'Segunda posición')
INSERT [tblposiciones] ([idposicion], [nombreposicion]) VALUES (3, N'Tercera posición')
SET IDENTITY_INSERT [tblposiciones] OFF
INSERT [tblresultados] ([numerodocumento], [nombreparticipante], [idposicion], [idpais]) VALUES (154784584, N'El Chavo', 1, 3)
ALTER TABLE [tblparticipantes]  WITH CHECK ADD  CONSTRAINT [FK_tblparticipantes_tblpaises] FOREIGN KEY([idpais])
REFERENCES [tblpaises] ([idpais])
GO
ALTER TABLE [tblparticipantes] CHECK CONSTRAINT [FK_tblparticipantes_tblpaises]
GO
ALTER TABLE [tblresultados]  WITH CHECK ADD  CONSTRAINT [FK_tblpaises_tblresultados] FOREIGN KEY([idpais])
REFERENCES [tblpaises] ([idpais])
GO
ALTER TABLE [tblresultados] CHECK CONSTRAINT [FK_tblpaises_tblresultados]
GO
ALTER TABLE [tblresultados]  WITH CHECK ADD  CONSTRAINT [FK_tblparticipantes_tblresultados] FOREIGN KEY([numerodocumento])
REFERENCES [tblparticipantes] ([numerodocumento])
GO
ALTER TABLE [tblresultados] CHECK CONSTRAINT [FK_tblparticipantes_tblresultados]
GO
ALTER TABLE [tblresultados]  WITH CHECK ADD  CONSTRAINT [FK_tblposiciones_tblresultados] FOREIGN KEY([idposicion])
REFERENCES [tblposiciones] ([idposicion])
GO
ALTER TABLE [tblresultados] CHECK CONSTRAINT [FK_tblposiciones_tblresultados]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [sppaises_guardar]
@nombrepais VARCHAR(50)
AS
BEGIN
INSERT INTO dbo.tblpaises
(nombrepais)
VALUES
(@nombrepais)
END


GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [sppaises_guardarcambios]
@idpais TINYINT, 
@nombrepais VARCHAR(50)
AS
BEGIN
UPDATE dbo.tblpaises SET 
nombrepais = @nombrepais
WHERE idpais = @idpais
END


GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [sppaises_listar]
AS
BEGIN
SELECT * FROM dbo.tblpaises
ORDER BY nombrepais ASC
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [spparticipantes_guardar]
@numerodocumento BIGINT,
@nombreparticipante VARCHAR(50),
@idpais TINYINT
AS
BEGIN
INSERT INTO dbo.tblparticipantes
(numerodocumento, nombreparticipante, idpais)
VALUES
(@numerodocumento, @nombreparticipante, @idpais)
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [spparticipantes_guardarcambios]
@numerodocumento BIGINT,
@nombreparticipante VARCHAR(50),
@idpais TINYINT
AS
BEGIN

IF @idpais=0 
	UPDATE dbo.tblparticipantes SET 
	nombreparticipante = @nombreparticipante
	WHERE numerodocumento = @numerodocumento

ELSE

	UPDATE dbo.tblparticipantes SET 
	nombreparticipante = @nombreparticipante,
	idpais = @idpais
	WHERE numerodocumento = @numerodocumento

END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [spparticipantes_listar]
AS
BEGIN
SELECT par.numerodocumento, par.nombreparticipante,
pai.nombrepais 
FROM dbo.tblparticipantes par
INNER JOIN dbo.tblpaises pai
ON par.idpais = pai.idpais
END

GO
USE [master]
GO
